devices = ( 
  {
    index = 0;
    gain = 280;
    centerfreq = 120100000;
    correction = -8000;
    channels = ( 
      {
        freq = 118925000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "118925.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 119100000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "119100.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 119500000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "119500.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 120600000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "120600.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 121300000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "121300.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 121600000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "121600.mp3";
        username = "source";
        password = "password";
      } );
  }, 
  {
    index = 1;
    gain = 280;
    centerfreq = 123000000;
    correction = -8000;
    channels = ( 
      {
        freq = 122000000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "122000.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 122950000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "122950.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 123800000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "123800.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 123950000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "123950.mp3";
        username = "source";
        password = "password";
      } );
  }, 
  {
    index = 2;
    gain = 280;
    centerfreq = 127650000;
    correction = -8000;
    channels = ( 
      {
        freq = 126300000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "126300.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 126500000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "126500.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 127050000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "127050.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 127100000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "127100.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 127550000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "127550.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 128200000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "128200.mp3";
        username = "source";
        password = "password";
      }, 
      {
        freq = 128875000;
        server = "www.example.com";
        port = 8000;
        mountpoint = "128875.mp3";
        username = "source";
        password = "password";
      } );
  } );
