name: Test build

on:
  push:
    branches: [main, unstable]
  pull_request:
  schedule:
    - cron: '0 11 * * *' # run daily 

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-20.04, ubuntu-22.04, ubuntu-latest, macos-11, macos-12, macos-latest ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    steps:
    - name: Checkout repository
      uses: actions/checkout@main

    - name: Install packaged dependencies
      run: .github/install_dependencies

    - name: Configure
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: VERBOSE=1 cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Install
      run: sudo cmake --install ${{github.workspace}}/build

    - name: Test run
      run: /usr/local/bin/rtl_airband -v
